html{
  scroll-behavior:smooth;
}

h1{
 font-weight: bold;
 font-size: 3em;
}

h2{
  font-weight: bold;
  font-size: 2rem;
  margin: 1.25em 0 0.5em 0
 }
 .no-gap {
   margin-top: .5em
 }

 h3{
  font-weight: bold;
  font-size: 1.5em;
 }
 h3#nav-name{
   margin:0;
 }

 h4{
  font-weight: bold;
  font-size: 1.15em;
  margin: 0.5em 0;
 }

h5{
  margin: 1em 0;
  font-size: 14px;
  font-weight: 700;
}

p{
  line-height: 1.5em;
}

#blurb p {
  font-size: 1.2em;
  width: 80%;
}

.project p {
  margin: 0.25em 0;
}


a{
  color: inherit;
  text-decoration: inherit;
}

li {
  margin:0.5em 0;
}

.small{
  font-size:12px;
}


body {
  font-family: Inter, sans-serif;
  margin: 0 10% 4em 10%;
}

.footer {
  margin-top: 10em
}
.highlight {
  border:2px dashed red;  
  padding:0.03em 0.25em;
}
.mark{
  background-color:#E4C1F9;
 }
.mark2{
  background-color:#AAFFEC;
}

.boxed {
  border: 2px solid #e7e2f9 ;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2px;
  display: flex;
  justify-content: center;
}
.abt-boxed {
  border: 2px solid #e7e2f9 ;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2px;
  display: flex;
  justify-content: center;
  margin: 10%;
  margin-bottom: 5px;
}
.underline{
  text-decoration: underline;
  color:#b86dde;
}

  
a:hover {
  color: #b86dde;
}

.purple {
  color: #b86dde;
}

.topnav{
  height: 50px;
}

#links {
  right: 2em;
  top:1em;
  position: absolute;
}

.topnav a {
  padding: 1em;
  text-decoration: none;
}

.active {
  color: black;
  font-weight: bold;
}

#home{
  margin: 3em auto;
}
.topnav a:hover{
  color:black;
}
.column{
  display: auto;
  margin: 10px;
  height: auto;
  
}
.no-hover:hover{
  text-decoration: none;
  color: initial;
}
.project {
  padding: 3em;
  transition: 0.3s ease-in-out;
}
.project:hover{
  box-shadow: 0 0 8px #d4d4d4;
  transform: translateY(-8px);
  transition: 0.3s ease-in-out;
  text-decoration: none;
}



#intro {
  vertical-align: top;
  /* margin-left: 2em; */
  padding-right: 5%;
}

.section{
  margin: 1.5em 0;
}


.grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10%;
}

.divider {
  height: 3em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:75%;
  text-align:center;
}
.two-columns{
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 10%;
  grid-row-gap: 2em;
}
.three-columns{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* grid-gap: 5%; */
}


.padding-r{
  padding-right: 4em;
}

.shape {
  background-color: #e7e2f9;
  position: absolute;
  z-index: -1;
}
#rcorners1 {
  border-radius: 10px;
  padding: 20px;
  width: 70px;
  height: 2px;
}
#rcorners2 {
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  height: 2px;
}
#rcorners3 {
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  height: 2px;
}
#social-links {
  display:flex;
  margin: 0 5% 5% 5%
}
#social-links img {
  margin-right: 0.75em
}


.row{
  margin: 1rem 0;
}
.new-section {
  margin-top: 4rem;
}
.subsection {
  margin-top: 2rem
}


.overview p {
  margin: 0.5em 0;
  font-size: 0.75em;
}

.top-section {
  margin-top: 4em
}
.bottom-section {
  margin-bottom: 4em;
}

.emphasis{
  font-size:1.5em;
  font-style:italic;
  padding:30px;
  line-height: 1.5em;
}
.pic{
  text-align:center;
  margin: 3em 0;
}
.pic img{
  margin-bottom: 10px;
}
.wide{
  width:85%; 
  margin-bottom: 25px;
}

.wide img{
  width: 100%;
}

.btn-link {
  text-decoration: underline;
  font-weight: bold;
  display: block;
  margin: 2em 0;
  color: inherit;
}

#bio{
  width: 55%;
  display: inline-block;
}

#main-about{
  margin: 6em 0;
}

#headshot {
  width: 54%;
  vertical-align: top;
  padding-left: 10%;
  /* float: right; */
}

#headshot img{
  width: 100%;
}

.center-row {
  width: 60%;
  margin: 2rem auto;
}

.caption{
  text-align: center;
  margin-bottom: 3em;
}



@media only screen and (max-width:850px){
  .column{
    width: 100%;
  }

  .three-columns {
    grid-template-columns: 100%;
  }

  .two-columns {
    grid-template-columns: 100%;
    grid-gap: 1em;
  }

  .info {
    display: inline-block;
    vertical-align: top;
    margin: 1em;
    width: 90%;
}

.center-row {
  width: 100%;
  margin: 2rem auto;
}


.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #d9d3f8;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}

}


.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #d9d3f8;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}



@media only screen and (max-width:550px){

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #d9d3f8;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}

  body{
    margin: 0 5% 5% 5%;
  }

  .info{
    width: 80%;
    display: block;
  }

  #bio {
    width: 100%;
  }
  #headshot {
    width: 50%;
    vertical-align: top;
    float: none;
    position: relative;
    top: 0;
    margin: 2em auto;
}
  #nav-name {
    display: none;
  }
}